<div class="position-relative mb-5">
  <div class="progress" style="height: 2px;">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <button id="step1" routerLink="/" type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-secondary rounded-pill">Step 1</button>
  <button id="step2" routerLink="/config" type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill">Step 2</button>
  <button id="step3" routerLink="/summary" type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill">Step 3</button>
</div>