<h1>Step 1: Choose your Model and Color</h1>


<div class="row mt-4" >
    <div class="col-4" >
        <label for="modelSelect" class="fs-4">Model :</label>
        <select id="modelSelect" class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-4">
        <label for="colorSelect" class="fs-4">Color :</label>
        <select id="colorSelect" class="form-select form-select-lg mb-3 fs-4" aria-label=".form-select-lg example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
