.table-custom {
    border-top: 2px solid #000; /* Bordure noire en haut du tableau */
}

.table-custom td {
    font-size: 13px; /* Taille de police réduite */
    padding: 5px; /* Padding réduit */
}
