
<h2>Step 1: Choose your Tesla Model and Color</h2>
<div>
  <form [formGroup]="modelForm">
    <div class="col-4" >
        <label for="modelSelect" class="fs-5">Model :</label>
        <select formControlName="selectedModel" id="modelSelect" class="form-select form-select-lg mb-3 fs-5">
          <option selected>Select a model</option>
          @for (model of models; track $index) {
            <option [ngValue]="model">{{ model.description }}</option>
          }
        </select>
    </div>
    @if (selectedModel) {
      <div class="col-4">
        <label for="colorSelect" class="fs-5">Color :</label>
        <select formControlName="selectedColor"  id="colorSelect" class="form-select form-select-lg mb-3 fs-5" (change)="updateSelectedModel()">
          <option selected>Select a color</option>
          @for (color of selectedModel.colors; track $index) {
            <option [ngValue]="color">{{ color.description }}</option>
          }
        </select>
      </div>
    }

  </form>
</div>